.landing-page-container {
  animation-name: zoom;
  animation-duration: 30s;
  background-image: url("../../accessories/first-page-backgrounds/black.jpg");
  animation-iteration-count: infinite;
}
@keyframes zoom {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 120% 120%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.schnell-content-container {
  width: 90vw;
  /* height: 300px; */
}
.content1,.content2,.content3,.content4,.content5 {
  width: 70%;
  margin: 0 auto;
}
.schnell-header {
  font-size: 6em;
  color: white;
  margin-bottom: 10px;
}
.schnell-content {
  color: white;
  font-size: 1.5em;
}
#slide1,
#slide2,
#slide3,
#slide4,
#slide5 {
  width: 100%;
}
@media only screen and (max-width: 414px) {
   .schnell-content-container {
      width: 100vw;
      /* height: 250px; */
    }
  .schnell-header {
    font-size: 3em;
  }
  .co {
    width: 75%;
  }
  .schnell-content {
   font-size: 1.0em;
 }
 #slide1,
#slide2,
#slide3,
#slide4,
#slide5 {
  width: 100%;
}
}

