.form-container-password{
    width:40vw;
    background-color: white;
    margin-left: auto;
    border-top-left-radius: 15px;
    padding: 3px 15px;
    opacity:1;
}
.header-password{
    margin-bottom: 30px;
}
@media screen and (max-width:768px){
  .form-container-password{
    width:100vw;
    background-color: white;
    margin-left: auto;
    border-top-left-radius: 0px;
    padding: 3px 15px;
    opacity:1;
}}