@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
.password-page-container {
  background-image: url("../../components/signIn/signIn-background.jpg");
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}