.section1-container {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../accessories/dark.jpg");
  background-size: cover;
  transform: skewY(-6deg);
  transform-origin: top left;
}
h1{
  position: relative;
  color: green;
}

.use-contain{
  position: relative;
  height: 90%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1-content{
  height: 70%;
  width:100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.content-image{
  height: 100%;
  display:relative;
  z-index: 2;
}
.content-img{
  height:100%;
  width:100%;
}
.content-main{
  color: white;
  /* width: 50%; */
 
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-main h2{
  margin: 0 auto;
  
  padding-left: 10px;

}
.section2-use-case{
  margin-top: 60px;
}

@media only screen and (max-width:414px){

  .section1-content{
    height: 70%;
    width:100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
  }
  .section1-container {
    position: relative;
    height: 600px;
  }
  
  .content-main h2{

    font-size: 1.5em;
  }
}